html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(29, 28, 28, 0.851);
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    animation: heart 1s ease infinite;
    animation-delay: 3s;
    overflow: hidden;; 
}

@keyframes heart {
    0%{
        
    }
    100% {
        transform: rotate(0deg) scale(1.2)
    }
}